<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Shipay_PixQrGateway::menu"
             module="Shipay_PixQrGateway"
             resource="Shipay_PixQrGateway::menu"
             sortOrder="1000"
             title="Shipay"
        />
        <add id="Shipay_PixQrGateway::registration"
             title="Registration"
             translate="title"
             module="Shipay_PixQrGateway"
             sortOrder="10"
             parent="Shipay_PixQrGateway::menu"
             action="shipay/registration"
             resource="Shipay_PixQrGateway::registration"
        />
    </menu>
</config>
