.shipay-success-page {
    margin-top: 15px;
}

.shipay-success-page .qr-code-image {
    width: 240px;
    height: 240px;
}

.pix-text {
    width: 100%;
    word-wrap: break-word;
}

.pix-text-order-view {
    width: 80%;
    max-width: 240px;
    word-wrap: break-word;
}

@media screen and (max-width : 1920px){
    .shipay-success-page .show-on-mobile {
        display: none;
    }
    .show-on-mobile {
        display: none;
    }
}

@media screen and (max-width : 906px){
    .shipay-success-page .show-on-web {
        display: none;
    }
    .show-on-web {
        display: none;
    }
    .shipay-success-page .show-on-mobile {
        display: block;
    }
    .show-on-mobile {
        display: block;
    }
}

